@import './../../scss/colors.scss';

.my-full-order {
    display: flex;
    flex-direction: column;
    gap: 40px;


    .content {
        display: flex;
        flex-direction: column;
        gap: 12px;


        .order-block,
        .tender-item {
            display: flex;
            flex-direction: column;
            gap: 16px;

            padding: 24px;

            background: #fff;
            border-radius: 4px;


            .order-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                font-size: 20px;
                line-height: 28px;
                font-weight: 600;
                color: $secondary;
            }

            .order-description {
                word-wrap: break-word;
                word-break: break-all;
            }

            .order-footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                align-items: center;

                color: $font-secondary;

                font-size: 13px;
                line-height: 16px;


                .order-meta {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                }

                .order-buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;


                    .order-status {
                        margin: auto;
                        margin-right: 16px;
                    }

                    .primary-button {
                        display: flex;
                        height: 30px;
                    }
                }
            }
        }


        .tender-item {
            .author-block {
                display: flex;
                flex-direction: row;
                gap: 16px;

                align-items: center;


                .avatar {
                    width: 60px;
                    height: 60px;

                    text-align: center;

                    background: $secondary;
                    border-radius: 4px;

                    font-size: 32px;
                    line-height: 60px;
                    font-weight: 600;
                    color: #fff;
                }

                .author-meta {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .author-name {
                        font-weight: 700;
                    }
                }

                .tender-price {
                    margin-left: auto;
                    margin-bottom: auto;

                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 600;
                    color: $secondary;
                }
            }


            .tender-block {
                display: flex;
                flex-direction: column;
                gap: 16px;


                .tender-description {
                    word-wrap: break-word;
                    word-break: break-all;
                }

                .tender-footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    align-items: center;

                    color: $font-secondary;

                    font-size: 13px;
                    line-height: 16px;


                    .tender-meta {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                    }

                    .primary-button {
                        display: flex;
                        height: 30px;
                    }
                }
            }
        }
    }
}