$primary: #6100FF;
$secondary: #6021c7;

$font-primary: #1E1E1E;
$font-secondary: #888888;
$font-thirdly: #e2e2e2;

$bg-primary: #eff4fb;

$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$light-blue: cyan;
$blue: blue;
$purple: purple;